.uauth .foswikiFormSteps {
  background-color: white;
}

.uauth .foswikiFormStep {
  border: none
}

.uauth .rightAligned {
  text-align: right;
}

.uauth .foswikiFormStep.rightAligned .foswikiUnvisited{
  margin-right: 10px;
}

.uauth .foswikiInputField {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 4px;
  width: calc(100% - 20px);
}

.uauth .foswikiSubmit {
  background-color: #4ac9e5;
  background-image: none;
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 10px 0;
  width: 125px;
}

.uauth .foswikiSubmit:hover {
  background-color: #3facc3;
}

.uauth button > .uauthButton {
  background-color: none;
  border: none;
  cursor: pointer;
  min-height: 50px;
  min-width: 180px;
}

.foswikiFormStep h3.uauth__force__header {
  margin-top: 48px;
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
}

.uauth__force-button-group {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.uauth__force-button {
  width:100%;
  margin-bottom: 8px;
  text-align:left;
}

.uauth__force-button__icon {
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  min-width: 24px;
  margin-right: 8px;
  display: inline-block;
}

.uauth__submit-button {
  text-align: right;
}

.uauth__seealsonote {
  text-align: center;
  display: inline-block;
  width: 100%;
}
