%{ This is a default template }%
%TMPL:INCLUDE{"oops"}%

%TMPL:DEF{"titleaction"}%%MAKETEXT{"Please set a new password"}% %TMPL:END%

%TMPL:DEF{"webaction"}%
%TMPL:END%

%TMPL:DEF{"heading"}%%MAKETEXT{"Please set a new password"}%%TMPL:END%

%TMPL:DEF{"topicactionbuttons"}% %TMPL:END%

%TMPL:DEF{"message"}%

<strong>%MAKETEXT{"Your [_1] uses a new user administration, please enter a new password:" arg1="%WIKITOOLNAME%"}%</strong>

<form name="manage" action="%SCRIPTURLPATH{"manage"}%/%SYSTEMWEB%/%HOMETOPIC%" method="post">
<div class="foswikiFormSteps">
<div class="foswikiFormStep">
%TABLE{databg="transparent" tableborder="0" tablerules="none"}%
|%MAKETEXT{"Fields marked [_1] are required" args="=<span class='foswikiAlert'>**</span>="}% ||
|  %MAKETEXT{"Your [[[_1]][username]]:" args="%SYSTEMWEB%.UserName"}% | <input type="text" name="username" value="%URLPARAM{"username" default="%USERNAME%"}%" size="40" class="foswikiInputField" /> =<span class='foswikiAlert'>**</span>= |
|  %MAKETEXT{"Current password:"}% | <input type="password" name="oldpassword" value="%URLPARAM{oldpassword}%" size="40" class="foswikiInputField" /> =<span class='foswikiAlert'>**</span>= |
|  %MAKETEXT{"New password:"}% | <input type="password" name="password" size="40" class="foswikiInputField" /> =<span class='foswikiAlert'>**</span>= |
|  %MAKETEXT{"Retype new password:"}% | <input type="password" name="passwordA" size="40" class="foswikiInputField" /> =<span class='foswikiAlert'>**</span>= |
</div>
<div class="foswikiFormStep foswikiLast">
<input type="hidden" name="TopicName" value="%TOPIC%" />
<input type="hidden" name="action" value="changePassword" />
<input %NOTMODIFYABLE% type="submit" class="foswikiSubmit" value="%MAKETEXT{"Change password"}%" />
</div><!-- /foswikiFormStep-->
</div><!-- /foswikiFormSteps-->
</form>

%TMPL:END%
