%TMPL:INCLUDE{"login"}%
%TMPL:INCLUDE{"viewtopicactionbuttons"}%

%TMPL:DEF{"top"}%%TMPL:END%

%TMPL:DEF{"form"}%
<div class="uauth">
<div id="foswikiLogin">
<div class="foswikiFormSteps">
<form name="manage" action="%SCRIPTURLPATH{"rest"}%/UnifiedAuthPlugin/setPassword" method="post">
    <div class="foswikiFormStep">
    <h2>%MAKETEXT{"Please set a new password"}%</h2>
    </div>
    
    <div class="foswikiFormStep">
    <h3>%MAKETEXT{"Fields marked [_1] are required" args="=<span class='foswikiAlert'>**</span>="}%</h3>
    </div>
    
    <div class="foswikiFormStep">
    <h3>%MAKETEXT{"Your [[[_1]][username]]:" args="%SYSTEMWEB%.UserName"}%  =<span class='foswikiAlert'>**</span>= </h3>
    <p><input type="text" name="username" value="%URLPARAM{"username" default="%USERNAME%"}%" size="40" class="foswikiInputField" /></p>
    </div>

    <input type="hidden" name="resetid" value="%URLPARAM{resetid}%" size="40" class="foswikiInputField" />

    <div class="foswikiFormStep">
    <h3>%MAKETEXT{"New password:"}% =<span class='foswikiAlert'>**</span>= </h3>
    <input type="password" name="password" size="40" class="foswikiInputField" />
    </div>

    <div class="foswikiFormStep">
    <h3>%MAKETEXT{"Retype new password:"}% =<span class='foswikiAlert'>**</span>= </h3>
    <p><input type="password" name="passwordA" size="40" class="foswikiInputField" /></p>
    </div>
    
    <div class="foswikiFormStep foswikiLast">
    <p><input %NOTMODIFYABLE% type="submit" class="foswikiSubmit" value="%MAKETEXT{"Change password"}%" /></p>
    </div>
</form>
</div><!-- /foswikiFormSteps-->
</div><!-- /foswikiLogin-->
</div>

%TMPL:END%
